* {
    cursor: default;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Comic Neue", cursive;
}
body {
    background-image: url("media/ppbg.gif");
}
html, body {
    height: 100%;
    width: 100%;
}
#contMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
@keyframes title-h1 {
    0% {color: rgb(12, 0, 187); font-size: 0em; transform: scale3d(1, 1, 1);}
    30% {transform: scale3d(1.25, 0.75, 1)}
    40% {transform: scale3d(0.75, 1.25, 1)}
    50% {color: rgb(0, 17, 255); transform: scale3d(1.15, 0.85, 1)}
    60% {transform: scale3d(0.95, 1.05, 1)}
    75% {transform: scale3d(1.05, 0.95, 1)}
    100% {color: rgb(0, 162, 255); font-size: calc(2vw + 2vh); transform: scale3d(1, 1, 1);}
}
@keyframes title-opacity {
    0% {opacity: 0;}
    100% {opacity: 100%;}
}
@keyframes title-button {
	0% {opacity: 0;transform: translateY(50px);}
	100% {opacity: 1;transform: translateY(0); cursor: pointer;}
}
#contTitle {
    font-family: "Comic Neue", cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 10vh;
    text-wrap: nowrap;
}
#contTitle h1 {
    paint-order: stroke fill;
    animation-name: title-h1;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}
#contTitle h2 {
    opacity: 0;
    animation-name: title-opacity;
    animation-delay: 4s;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    font-size: calc(1vh + 1vw);
}
#contTitle button {
    opacity: 0;
    color: rgb(0, 162, 255);
    background-color: #ffffff;
    transition: background-color 1s ease 0s, color 1s ease 0s, border 1s ease 0s;
    margin-top: 2%;
    border: 2px solid rgb(0, 162, 255);
    border-radius: 12px;
    font-size: calc(1vh + 1vw);
    padding: 0 1vh;
    animation-delay: 6s;
    animation-name: title-button;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
#contTitle button:hover {
    color: rgb(255, 255, 255);
    margin-top: 2%;
    background-color: rgb(0, 162, 255);
    border: 2px solid rgb(0, 17, 255);
    border-radius: 12px;
    font-size: calc(1vh + 1vw);
    padding: 0 1vh;
}